<ngb-alert *ngIf="error" type="danger" [dismissible]="false" class="fixed-bottom">To Do title cannot be empty</ngb-alert>

<div class="container">
  <div class="jumbotron mt-3">
    <h1 class="text-center">ToDo List</h1>
  </div>

  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Add a new To Do" aria-label="To Do's Title" [(ngModel)]="title" name="title" (keypress)="onKeyPressed($event)">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" (click)="save()">
        <i class="fa fa-lg fa-plus-circle"></i>
        Add
      </button>
    </div>
  </div>

  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let todo of todos">
      <app-todo [todo]="todo"></app-todo>
    </li>
  </ul>
</div>