<ngb-alert *ngIf="error" type="danger" [dismissible]="false" class="fixed-bottom">To Do title cannot be empty</ngb-alert>

<div class="modal-header">
  <h1 class="modal-title">Edit {{ oldTitle }}</h1>
</div>

<div class="modal-body">
  <form>
    <div class="form-group">
      <label class="col-sm-2 col-form-label" [for]="'title-' + todo._id">Title</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Todo's Title" [id]="'title-' + todo._id" name="title" [(ngModel)]="todo.title">
      </div>
    </div>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" [id]="'done-' + todo._id" name="done" [(ngModel)]="todo.done">
        <label class="form-check-label" [for]="'done-' + todo._id">Done</label>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="activeModal.close()">Close</button>
  <button type="button" class="btn btn-success" (click)="save()">Save</button>
</div>