<span [class.text-success]="todo.done">
  <i class="fa fa-lg" [ngClass]="todo.done ? 'fa-check-circle-o' : 'fa-circle-thin'"></i>
</span>

{{ todo.title }}

<span class="hover-cursor text-danger pull-right" (click)="delete()">
  <i class="fa fa-lg fa-trash-o"></i>
</span>

<div class="hover-cursor text-primary pull-right mr-3" (click)="edit()">
  <i class="fa fa-lg fa-pencil-square-o"></i>
</div>