<div class="container">
  <div class="row " style="padding-top:40px;">
    <div class="col-md-12">
      <div class="panel panel-info">

        <div class="panel-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let message of messages">
              <app-message [message]="message"></app-message>
            </li>
          </ul>
        </div>

        <div class="panel-footer">
          <div class="input-group">
            <input type="text" class="form-control" [(ngModel)]="content" title="content" placeholder="Enter Message" (keypress)="onKeyPressed($event)" />
            <div class="input-group-append">
              <button class="btn btn-info" type="button" (click)="send()">SEND</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>